.controlls {
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}

.controlls > form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controlls > form h2 {
    max-width: 35ch;
    margin: 0px;
    padding: 1em 0px 1.5em;
    font-size: 1rem;
    text-align: center;
}
.controlls > form button {
    margin-top: 1em;
    cursor: pointer;
}




.controlls > .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.controlls > .settings label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.controlls > .settings label > span {
    min-width: 100px;
    padding-right: 0.5em;
}

.controlls > .settings > button {
    margin: 1.5em 0px 0px;
    padding: 0.2em 0.5em;
    font-size: 1.05rem;
}
.controlls > .settings small {
    width: 100%;
}
.controlls > .settings small button {
    color: var(--color-critical);
    font-size: 85%;
    border-width: 1px;
    border-color: var(--color-critical);
    outline: none;
    cursor: pointer;
}




.error {
    width: 100%;
    padding: 0px 0px 1em;
    color: var(--color-critical);
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    max-width: 100vw;
    margin-top: 3em;
    overflow: hidden;
}

/* Title container that holds multiple field containers */
.list > div {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 3em 0px;
}

.list > div > h3 {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}
.list > div > h3 small {
    padding-left: 0.75em;
    font-size: 0.7rem;
}

/* Multiple field containers inside title container */
.list > div > div {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0px 0px 1em;
}

/* TextAreas */
.list > div > div > div {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: stretch;
}